.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oops{
    max-width: 20%;
}

.oops img{
    max-width: 100%;
    border-radius: 30px;
}